html {
  height: 100%;
}

body {
  margin: 0;
  background: #aad4f9;
  height: 100%;
}

#my_canvas {
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  color: #3445764f;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  text-align: center;
}
